html {
    min-width: 240px;
    background: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 1000px;
    padding: 15px;
    margin: 0 auto;
    line-height: 1.3;
    background: #333;
}

p {
    margin: 10px 0;
}

pre {
    color: #a2a2a2;
    margin: 10px 0;
    word-break: break-all;
    white-space: pre-line;
}

hr.textonly {
    display: none;
}

.clearfix {
    clear: both;
}

.wrapper {
	position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: left;
}

.row {
    padding: 10px 15px;
    border: outset 1px #555;
    background: #444;
}

.row.odd {
    background-color: #3e3e3e;
}

.row.page {
    padding: 0;
}

.row.spacer {
    padding: 0;
    height: 10px;
    background: transparent !important;
    border: none;
}

.row.pagination {
    text-align: center;
    padding: 5px 15px;
}

.row.breadcrumb {
    padding: 5px 15px;
    background: #3e3e3e;
    border-color: #4e4e4e;
}

.row.stats {
    padding: 5px 0;
    min-height: 20px;
    background: #3e3e3e;
    border-color: #4e4e4e;
}

.row.stats span {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    color: #aaa;
}

.row.titlebar {
    position: relative;
    min-height: 52px;
    padding: 0;
}

.titlebar .logo {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    margin: 10px 15px;
    height: 32px;
    border: none;
    outline: none;
}

.titlebar .logo img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 32px;
    min-height: 32px;
    margin-right: 10px;
    border: none;
}

.titlebar .logo h1 {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 42px;
    color: white;
    display: inline;
    text-align: left;
    height: 32px;
    line-height: 32px;
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
}

.titlebar .logo h1 span {
    color: #ec3737;
}

.titlebar .menu {
    position: relative;
    padding: 10px 15px;
    min-height: 32px;
    text-align: right;
    vertical-align: middle;
}

.titlebar .menu a {
    display: inline;
    line-height: 32px;
    color: #aaa;
    text-decoration: none;
}

.titlebar a:hover {
    color: white;
}

.breadcrumb a {
    display: inline;
    color: white;
    margin-right: 10px;
    line-height: 1.3;
    text-decoration: none;
}

.list {
    position: relative;
    border-collapse: collapse;
    border: none;
    margin: 0;
}

.list th,
.list td {
    padding: 5px 15px;
    text-align: left;
    vertical-align: middle;
}

.list th {
    color: #aaa;
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    word-break: none;
}

.list tr.odd td,
.list tr.odd th {
    background-color: #3e3e3e;
}

.list th a {
    color: inherit;
    text-decoration: none;
}

.list th.center,
.list td.center {
    text-align: center !important;
}

.list th.right,
.list td.right {
    text-align: right !important;
}

.list a {
    color: white;
}

.list a:hover {
    color: #bbb;
}

.pagination a {
    padding: 5px;
    color: #aaa;
}

.pagination a.active {
    color: white;
}

.footer {
    margin-top: 10px;
    min-height: 20px;
}

.footer a {
    text-decoration: none;
    color: #444;
}

.footer a.left {
    float: left;
    margin-right: 10px;
}

.footer a.right {
    float: right;
    margin-left: 10px;
}
