@media only screen and (max-width: 600px) {

	body {
		font-size: 12px;
		padding: 5px;
	}

    .row.titlebar {
        padding: 10px 15px;
    }

	.titlebar .logo {
        position: relative;
		float: none;
        margin: 0;
        text-align: center;
        min-width: 100%;
	}

	.titlebar .menu {
        position: relative;
        padding: 0;
        text-align: center;
		max-width: unset;
        min-height: unset;
        margin: 10px 0 0 0;
	}

    .titlebar .menu a {
        padding-right: 5px;
        padding-left: 0;
        line-height: 1;
    }

	.cell {
		width: auto;
		float: none;
	}

	.cell.left .row,
	.cell.right .row {
		margin-right: 0;
		margin-left: 0;
	}

	.row.spacer {
		height: 5px;
	}

	.row.subforum,
	.row.lastThread {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.row.lastThread {
		margin-bottom: 5px;
	}

	.row.stats {
		height: 30px;
	}

	.row.stats span {
		width: 50%;
	}

	.row.thread a.left,
	.row.thread a.right {
		width: 100%;
		text-align: left;
	}

	.post .postContent .quote {
		width: auto;
	}

	.post .postContent .youtube {
		width: auto;
		height: auto;
	}

}
