.row.postInfo {
    position: relative;
    height: 32px;
    padding: 0 !important;
    overflow: hidden;
    color: #aaa;
}

.row.postInfo.show-avatar {
    height: 45px !important;
}

.postInfo .userBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    background: #444;
    z-index: 1;
}

.postInfo .userBackground img {
    width: 100%;
    height: auto;
    margin-top: -40%;
    opacity: 0.35;
    filter: blur(5px);
    filter: Alpha(Opacity=35, Style=0), Blur(Add=true, Dirrection=0, Strength=20);
}

.postInfo .userForeground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.postInfo .userForeground img.avatar {
    float: left;
    min-height: 32px;
    max-height: 32px;
    margin: 6px 15px;
    margin-right: 10px;
}

.postInfo .userForeground .username {
    float: left;
    margin: 6px 15px;
    color: white;
    text-decoration: none;
}

.postInfo .userForeground .date {
    color: #aaa;
    text-decoration: none;
    float: right;
    margin: 6px 15px;
    margin-right: 15px;
}

.postInfo.show-avatar .userForeground .username,
.postInfo.show-avatar .userForeground .date {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 0;
}

.postInfo.show-background .userForeground .username,
.postInfo.show-background .userForeground .date {
    color: #fff;
}

.postInfo.banned .userForeground .username,
.postInfo.banned .userForeground .date {
    color: #ff8f8f;
}

.post .postContent .marginBreak {
    height: 1px;
    clear: both;
}

.post .postContent a {
    color: white;
    word-wrap: break-word;
}

.post .postContent a.smart {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 5px auto;
    background: #3e3e3e;
    border: outset 1px #666;
    text-decoration: none;
}

.post .postContent a.smart .title,
.post .postContent a.smart .desc {
    display: block;
    margin: 0;
    padding: 5px 15px;
    color: #aaa;
    background-color: #383838;
    border-bottom: outset 1px #666;
}

.post .postContent a.smart .desc {
    color: #fff;
    border-bottom: none;
    border-top: outset 1px #666;
}

.post .postContent img {
    display: inline;
    max-width: 100%;
    outline: none;
    border: none;
    text-decoration: none;
}

.post .postContent a.image {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}

.post .postContent .quote {
    width: 100%;
    margin: 5px 0;
    background: #3e3e3e;
    border: outset 1px #4e4e4e;
}

.post .postContent .quote a.user {
    display: block;
    margin: 0;
    padding: 5px 15px;
    color: #aaa;
    background-color: #383838;
    border-bottom: outset 1px #484848;
    text-decoration: none;
}

.post .postContent .quote .postContent {
    padding: 5px 15px;
}

.post .postContent .blockquote {
    margin: 5px 0;
    padding: 10px 15px;
    background: #3e3e3e;
    border: outset 1px #666;
}

.post .postContent .youtube {
    position: relative;
    display: block;
    width: 480px;
    height: 360px;
    margin: 0 auto;
    background: black;
}

.post .postContent .youtube h4 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    text-indent: 0;
    color: white;
    background: url('../../img/translucent.gif');
}

.post .postContent .youtube i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 45px;
    margin-top: -23px;
    margin-left: -32px;
    background: url('../../img/youtube-play.gif');
}

.post .ratings td {
    padding: 0;
    padding-right: 5px;
}

.row.banInfo {
    min-height: 32px;
    padding-left: 62px;
    color: #ff8f8f;
    background-color: #854540 !important;
    border-color: #bf6c66 !important;
    background-image: url('/img/ban-icon.gif');
    background-position: 15px center;
    background-repeat: no-repeat;
}

.row.banInfo p {
    margin: 0;
}

.row.banInfo span {
    color: #ffc7c7;
}

.row.reply textarea {
    position: relative;
    width: 100%;
    min-height: 200px;
    outline: none;
    resize: none;
}

.row.reply .buttons {
    margin-top: 10px;
    text-align: center;
}
